[user]
	name = rhyzx
	email= rhyzix@gmail.com
[user "gitlab.corp.youdao.com"]
	name = Bin Xin
	email= xinbin@rd.netease.com
[alias]
	b  = branch -vv
	bd = branch -d
	ba = branch -a
	br = branch -r

	c  = commit -am
	cm = commit -m
	ce = commit --amend
	ca = commit --amend --no-edit
	cau= commit --amend --reset-author --no-edit
	caa= commit --amend -a --no-edit

	dif = diff --cached

	co = checkout
	s  = status -s

	m  = merge --no-ff

	p  = push
	pu = push -u origin HEAD
	pr = pull --rebase
	pp = !git pull --rebase && git push

	st = stash save # additional message
	sl = stash list
	sp = stash pop
	# sc = stash clear # too danger
	sa = stash apply
	ss = "!f() { git stash show stash@{${1-0}}; }; f"
	sss= "!f() { git stash show stash@{${1-0}} -p; }; f"

	r  = reset
	rh = reset --hard

	rb = rebase
	ri = rebase -i
	ra = rebase --abort
	rs = rebase --skip
	rc = rebase --continue

	l  = log --oneline --first-parent
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	ls = log --stat

	cp = cherry-pick
	root = rev-parse --show-toplevel


	# git svn
	sd = svn dcommit
	sr = svn rebase
	sf = svn fetch


	# auto setting email/username base on url
	# BUG s/$var/xx/ $var need be escape
	cfg = "!domain=$(git remote -v | head -1 | sed 's/^.*@\\(.*\\):.*$/\\1/; s/^.*:\\/\\/\\([^\\/]*\\).*$/\\1/')\
		&& git config --get-regexp "^user\\.$domain" | sed \"s/user\\.$domain/user/; s/ \\(.*\\)\\$/ '\\1'/\" | xargs -L1 git config\
		&& false"
	cl = "!git clone $@\
		&& cd $(basename $@ | sed -e 's/\\.git$//')\
		&& git cfg\
		&& cd -\
		&& false"
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[push]
	default = upstream
[log]
	date = relative
[rerere]
	enabled = true
[http "https://github.com"]
	proxy = socks5://127.0.0.1:1080
