[submodule "vim-bundles/jsbeautify"]
	path = vim-bundles/jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify.git
[submodule "vim-bundles/jshint"]
	path = vim-bundles/jshint
	url = git://github.com/walm/jshint.vim.git
[submodule "vim-bundles/matchit"]
	path = vim-bundles/matchit
	url = git://github.com/tmhedberg/matchit.git
[submodule "vim-bundles/mru"]
	path = vim-bundles/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim-bundles/nerdcommenter"]
	path = vim-bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim-bundles/nerdtree"]
	path = vim-bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-bundles/obsidian2"]
	path = vim-bundles/obsidian2
	url = git://github.com/vim-scripts/obsidian2.vim.git
[submodule "vim-bundles/vim-jade"]
	path = vim-bundles/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim-bundles/vim-javascript"]
	path = vim-bundles/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim-bundles/vim-less"]
	path = vim-bundles/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim-bundles/vim-markdown"]
	path = vim-bundles/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim-bundles/vim-pathogen"]
	path = vim-bundles/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-bundles/vim-powerline"]
	path = vim-bundles/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim-bundles/zencoding-vim"]
	path = vim-bundles/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim-bundles/ultisnips"]
	path = vim-bundles/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim-bundles/ctrlp"]
	path = vim-bundles/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-bundles/vim-stylus"]
	path = vim-bundles/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "vim-bundles/vim-airline"]
	path = vim-bundles/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-bundles/emmet-vim"]
	path = vim-bundles/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
